body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    font-weight: 800;
}

ul {
    padding-left: 0;
    list-style: none;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.selected,
.bold {
    font-weight: 800;
    padding-bottom: 2px;
    border-bottom: red 3px solid;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-bar {
    background-color: red;
    height: 3px;
    position: absolute;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.half {
    width: 50%;
}

.right {
    justify-content: flex-end;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
}

.nav li {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 40px;
    font-size: 18px;
}

.nav-item-avatar {
    width: 40px;
}

.logout:hover {
    font-weight: 800;
    cursor: pointer;
}

.login-card {
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.login-card-header {
    padding: 1px;
    border-bottom: rgba(0,0,0,0.2) 1px solid;
}

.user-card-list {
    margin: 0;
}

.card {
    display: flex;
    max-width: 100%;
    padding: 15px 20px;
    border: rgba(0,0,0,0.1) 1px solid;
}

.card-left {
    width: 140px;
}

.avatar-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 100%;
}

.username-container {
    padding-left: 15px;
}

.tabs {
    max-width: 250px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.tab {
    width: 50%;
}

.tab > label {
    cursor: pointer;
}

.tab > input[type="radio"] {
    appearance: none;
}

.tab > input[type="radio"]:checked + label {
    font-weight: 800;
    padding-bottom: 2px;
    border-bottom: red 3px solid;
}

.card--question:hover::after {
    content: 'VIEW';
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0,0,0,0.3);
}

.inner-container {
    max-width: 600px;
    margin: 20px auto;
}

.question-container {
    width: calc(100% - 230px);
    text-align: left;
    padding-left: 50px;
}

.option {
    margin: 10px;
}

.answer {
    padding: 0 0 5px 20px;
}

.answer-text {
    font-weight: 800;
}

.chosen {
    border-left: red 4px solid;
}

.chosen::after {
    content: 'YOUR VOTE';
    color: red;
    font-weight: 600;
    font-size: 14px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 30px;
    background-color: white;
    font-size: 14px;
    border-radius: 5px;
    border: 1px rgba(0,0,0,0.1) solid;
}

.btn:not(:disabled):hover, .btn:not(:disabled):focus {
    background-color: red;
    color: white;
    font-weight: 800;
}

.btn:disabled {
    cursor: not-allowed;
}

.option-input {
    margin: 12px;
}

.option-input > label {
    margin-right: 20px;
    font-weight: 700;
}

.option-input > input {
    width: 300px;
    height: 20px;
}

.position {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 45px;
    color: red;
}

.position-middle {
    width: calc(100% - 265px);
}

.position-total > p {
    margin: 5px;
}

.position-total > p:first-child {
    font-size: 30px;
}

.position-total > p:nth-child(2) {
    font-weight: 800;
}
